NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="sage-production"
# Resend API Key (Server-only, do not expose to client)
RESEND_API_KEY=
NEXT_PUBLIC_TINA_CLIENT_ID=
NEXT_PUBLIC_EDIT_BRANCH="master"
NEXT_PUBLIC_ORGANIZATION_NAME=
NEXT_PUBLIC_USE_LOCAL_CLIENT=""